{% if youtube_status == 'error' or youtube_status == 'removed' or youtube_status == 'duplicated' %}
    {% set label_class = "label-danger" %}
{% elseif youtube_status == 'published' %}
    {% set label_class = "label-success" %}
{% else %}
    {% set label_class = "label-warning" %}
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center" id="myModalLabel">
       {{ "Youtube"|trans|upper }}
    </h4>
</div>

<div class="modal-body">
    <div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-6 text-right">
                <strong>{% trans %}Multimedia Object title{% endtrans %}</strong>
            </div>
            <div class="col-md-6 text-left">
                {{ mm.title }}
            </div>
        </div>
        <hr />

        {% if youtube.youtubeAccount is defined and youtube.youtubeAccount is not empty %}
            <div class="row">
                <div class="col-md-6 text-right">
                    <strong>{% trans %}Youtube account{% endtrans %}</strong>
                </div>
                <div class="col-md-6 text-left">
                    {{ youtube.youtubeAccount }}
                </div>
            </div>
            <hr />
        {% endif %}

        <div class="row">
            <div class="col-md-6 text-right">
                <strong>{% trans %}Youtube Playlists{% endtrans %}</strong>
            </div>
            <div class="col-md-6 text-left">
                {% for key, playlist in youtube.playlists %}
                <div class="input-group">
                    {{ playlist_name(key) }}
                    <span class="input-group-addon">
                        <a href="{{ youtube.link }}&list={{ key }}" target="_blank" title="{{ "Go to playlist"|trans }}">
                            <i class="mdi-action-exit-to-app"></i>
                        </a>
                    </span>
                </div>
                {% else %}
                    ---
                {% endfor %}
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-6 text-right" style="overflow: hidden">
                <strong>{% trans %}Youtube Status{% endtrans %}</strong>
            </div>
            <div class="col-md-6 text-left">
                <span class="label label-dismissable {{ label_class }}" style="padding:5px;">
                    {{ youtube_status|upper }}
                </span>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-6 text-right" style="overflow: hidden">
                <strong>{% trans %}File uploaded{% endtrans %}</strong>
            </div>
            <div class="col-md-6 text-left">
                {% if attribute(youtube, 'getFileUploaded') is defined and youtube.getFileUploaded() is not empty %}
                  {{ youtube.getFileUploaded() }}
                {% else %}
                    <span> {{ "File not saved on database"|trans }}</span>
                {% endif %}
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-6 text-right">
                <strong>{% trans %}Last Updated{% endtrans %}</strong>
            </div>
            <div class="col-md-6 text-left">
                {{ youtube.getSyncMetadataDate()| format_datetime("medium", "none",locale=app.request.getLocale()) }}
            </div>
        </div>
        <hr />

        {% if youtube_status in ['published', 'proccessing'] %}
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default btn-raised copy-youtube-link" href="#"  title="{{ "Copy Youtube link"|trans }}">
                        {{ "Copy Youtube link"|trans }}
                    </a>
                    <input id="copy-youtube-link" type="text" value="{{ youtube.link }}" style="display:none;"/>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-default btn-raised copy-embed-link" href="#"  title="{{ "Copy iframe"|trans }}">
                        {{ "Copy iframe"|trans }}
                    </a>
                    <input id="copy-embed-link" type="text" value="{{ youtube.embed }}" style="display:none;"/>
                </div>
            </div>
            <hr />
        {% endif %}
    </div>
    <div class="col-md-5">

        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-default btn-raised" href="{{ youtube.link }}" title="{{ "Show video on Youtube"|trans }}">
                    {{ "Show video on Youtube"|trans }}
                </a>
            </div>
        </div>

        {% if youtube_status in ['published'] %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-pumukit manualUpdatePlaylist" title="{{ "Manual playlist update"|trans }}" data-id="{{ mm.id }}">
                       {{ "Update playlist"|trans }}
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-pumukit forcedUploadVideo" title="{{ "Force upload video"|trans }}" data-id="{{ mm.id }}">
                    {{ "Force upload video"|trans }}
                </a>
            </div>
        </div>
    </div>

    </div>
</div>

<script>
    {% include "@PumukitYoutube/Modal/js.js.twig" %}
</script>
