<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title pumukitnewadmin-modal-title-margin" id="myModalLabel">{% trans %}Add new Youtube account playlist{% endtrans %}</h3>
</div>

<div class="modal-body">
    <div class="alert alert-info text-center" role="alert">
        {{ "The maximum size allowed for the playlist title is 150 characters."|trans }}
    </div>
    {% form_theme form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}
    <form autocomplete="off" id="pumukit_youtube_create_playlist" action="{{ path('pumukit_youtube_create_playlist', {'id': account }) }}" method="POST">
        {{ form_start(form) }}
        {{ form_row(form.i18n_title) }}
        <div class="text-right">
            <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}Save changes{% endtrans %}</button>
        </div>
        {{ form_end(form) }}
    </form>
</div>

<script type="text/javascript">
    $('#pumukit_youtube_create_playlist').on('submit', function (event) {
        event.preventDefault();
        $('#myModal').modal('hide');
        $.ajax({
            url: '{{ path('pumukit_youtube_create_playlist', {'id': account }) }}',
            method: 'POST',
            data: $('#pumukit_youtube_create_playlist').serialize(),
            success: function (response, textStatus, jqXHR) {
                if (jqXHR.responseText.indexOf('modal-header') != -1) {
                    var message = '{% trans %}There was an error on creating Youtube account playlist.{% endtrans %}';
                    no_success(message);
                } else {
                    var mm = "{{ path('pumukit_youtube_admin_list') }}";
                    $('#list_youtube_accounts').load(mm);
                    $('#myModal').hide();
                    var message = '{% trans %}Youtube account playlist was successfully created.{% endtrans %}';
                    success(message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                no_success(errorThrown + ': ' + textStatus);
            }
        });
        return false;
    })
</script>

