<link href="{{ asset('bundles/pumukityoutube/css/select2.min.css') }}" rel="stylesheet"/>
<script src="{{ asset('bundles/pumukityoutube/js/select2.min.js') }}"></script>

{% set selectedAccount = false %}
<div class="form-group" id="pumukit_youtube_accounts">
    {% if youtubeAccounts|length == 0 %}
        <div class="col-xs-12">
            {% trans %}Please, create a new youtube account{% endtrans %}
        </div>
    {% else %}
        <div class="col-xs-6" style="padding-left: 0;">
            <label for="youtube_label">{{ "Youtube accounts"|trans }}</label>
            <select id="youtube_label" name="youtube_label" class="form-control" required {% if is_granted('ROLE_TAG_DISABLE_PUCHYOUTUBE') %}disabled{% endif %}>
                {% for account in youtubeAccounts %}
                    <option class="account_option" value="{{ account.getId() }}" {% if accountId == account.getId() %}selected{% endif %} data-href="{{ path('pumukityoutube_playlist_select', {'id' : account.getId() }) }}">{{ account.getTitle() }}</option>
                    {% if accountId == account.getId() %}
                        {% set selectedAccount = account %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6">
            <div id="list_playlist">
                <label for="youtube_playlist_label">
                    {{ "Playlist"|trans }}
                    {% if multimediaObject.isPrototype() %}
                        {% set default_account = youtubeAccounts|first %}
                        <a id="create_yt_playlist" title="{{ "Create new playlist"|trans }}" href="#" data-href="{{ path('pumukit_youtube_create_playlist', {'id': '__account__' }) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
                            <i class="mdi-av-playlist-add"></i>
                        </a>
                        <a id="refresh_yt_playlist" title="{{ "Refresh playlists"|trans }}">
                            <i class="mdi-navigation-refresh yt-mdi-navigation-refresh"></i>
                        </a>
                    {% endif %}
                </label>
                <select multiple id="youtube_playlist_label" name="youtube_playlist_label[]" class="form-control" style="width:100%" required {% if is_granted('ROLE_TAG_DISABLE_PUCHYOUTUBE') %}disabled{% endif %}>
                    <option id="default_playlist" value="any" {% if not playlistId %}selected{% endif %}>{{ "Without playlist"|trans }}</option>
                    {% if selectedAccount %}
                        {% for playlist in selectedAccount.getChildren() %}
                            <option value="{{ playlist.getId() }}" {% if playlist.getId() in playlistId %}selected{% endif %}>{{ playlist.getTitle(app.request.getLocale()) }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
    {% endif %}
</div>

<script type="text/javascript">

    $('.form-group').on('click', function () {
        var active = $('#pub_channels_PUCHYOUTUBE:checked');

        if (active.length >= 1) {
            $('#youtube_advanced_configuration').show();
        } else {
            $('#youtube_advanced_configuration').hide();
        }
    });

    $(document).ready(function (event) {

        var active = $('#pub_channels_PUCHYOUTUBE:checked');

        if (active.length >= 1) {
            $('#youtube_advanced_configuration').show();
        } else {
            $('#youtube_advanced_configuration').hide();
        }
        {% if selectedAccount %}
            $("#youtube_playlist_label").select2({
                width: 'resolve',
                multiple: true,
            });
        {% else %}
            var href = $("#youtube_label option:first-child").data('href');
            if (href) {
                $.ajax({
                    url: href,
                    method: 'GET',
                    success: function (response) {
                        $("#youtube_playlist_label").select2({
                            multiple: true,
                            width: 'resolve',
                            data: response
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        no_success(errorThrown + ': ' + textStatus);
                    }
                })
            }
        {% endif %}

    });

    $('#youtube_label').on('change', function (event) {
        event.preventDefault();
        var href = $("#youtube_label option:selected").data('href');

        if ($(this).val() != '') {
            $('#youtube_playlist_label').empty();
            $.ajax({
                url: href,
                method: 'GET',
                success: function (response) {
                    console.log(response);
                    $('#youtube_playlist_label').append($('<option value="any">&nbsp;</option>'));
                    $("#youtube_playlist_label").select2({
                        multiple: true,
                        width: 'resolve',
                        data: response
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    no_success(errorThrown + ': ' + textStatus);
                }
            })
        }
    });

    $('#youtube_playlist_label').on('change', function(event) {
        if($('#youtube_playlist_label option:selected').size() === 0) {
            $('#default_playlist').prop("selected", "selected");
        }
        if($('#youtube_playlist_label option:selected').size() >= 1) {
            $('#default_playlist').prop("selected", false);
        }
    });


    $('#create_yt_playlist').on('click',function(event){

        var account = $("#youtube_label option:selected").val();
        var base_href =  $(this).data('href').replace('__account__', account);
        $('#create_yt_playlist').attr("href",base_href);
    });

    $('#refresh_yt_playlist').on('click',function(event){
        event.preventDefault();
        var href = $("#youtube_label option:selected").data('href');
        $('#youtube_playlist_label').empty();
        $.ajax({
            url: href,
            method: 'GET',
            success: function (response) {
                $('#youtube_playlist_label').append($('<option value="any">&nbsp;</option>'));
                $("#youtube_playlist_label").select2({
                    multiple: true,
                    width: 'resolve',
                    data: response
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                no_success(errorThrown + ': ' + textStatus);
            }
        });
    });
</script>
