<h3 class="cab_body_div">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li class="active">
            {{ "Youtube Status Stats"|trans }}
        </li>
    </ul>
</h3>


<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% for status, text in youtubeStatus | filter(status != 0) %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="youtube_status_link_list" href="{{ path('pumukit_youtube_stat_list', {'status': status }) }}">
                        <div class="info-box"   data-toggle="tooltip" data-placement="bottom" title="{{ ("Show documents by status "|trans) ~ text|trans }}">
                            <span class="info-box-icon bg-warning">
                                {{ text|trans|first|upper }}
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-number">
                                    <span class="info-box-text"> {{ text|trans }}</span>
                                    {% if youtubeStatusDocuments[status] is defined %}
                                        {% set number = (youtubeStatusDocuments[status])|length %}
                                    {% else %}
                                        {% set number = 0 %}
                                    {% endif %}
                                    {{ number }}
                                    <small>
                                        {% transchoice number %}
                                            {0} videos|{1} video|]1,Inf] videos
                                        {% endtranschoice %}
                                    </small>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
